.category {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 70%;
}
.first-message {
    text-align: center;
    width: 100%;
    height: auto;
    font-weight: 25;
    font-size: 2.5em;
}
.first-image {
    width: 100%;
    height: auto;
}
