#footer {
    margin-top: 60px;
    padding: 8px 0;
    background-color: #727272;

    .address {
        font-size: 16px;
        color: #ffffff;
        width: 315px;
        margin: 0 auto;
    }

    .copyright {
        margin-top: 16px;
        color: #a5a5a5;
        text-align: center;
    }
}