.outer {
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}

.importantTime {
    text-align: center;
    font-size: 2.0em;
}

.otherTime {
    font-size: 1.5em;
}

.outerNote {
    width: 80%;
    margin: 50px auto 20px auto;
    max-width: 500px;
}