#tobei-header {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    border-bottom: 10px solid;
    border-image-slice: 20%;
    border-image-source: radial-gradient(#545454,#FFF);
    border-image-width: 0 0 4px;
}

#title {
    margin-left: 12px;
    margin-bottom: 10px;
}

.tobei {
    font-size: 38px;
    margin: 0px;
}